<% include partials/header %>
  <p><a href="./register">Register</a></p>
	<!-- <main>
		<h2 class="ui header centered mt-2">
			Bienvenido, *usuario*
			<div class="sub header">Intranet</div>
		</h2>
		<div class="ui stackable grid container center-text mt-2">
			<div class="five wide column">
				<div class="ui orange fluid card">
  					<div class="content">
    					<div class="header">Noticias</div>
  					</div>
  					<div class="content">
    					<h4 class="ui sub header">Activity</h4>
    					<div class="ui small feed">
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
          							</div>
        						</div>
      						</div>
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Stevie Feliciano</a> was added as an <a>Administrator</a>
          							</div>
        						</div>
      						</div>
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Helen Troy</a> added two pictures
          							</div>
        						</div>
      						</div>
    					</div>
  					</div>
  					<div class="extra content">
    					<button class="ui button">Ver todas</button>
  					</div>
				</div>
			</div>
			<div class="six wide column">
				<div class="ui green segment">
					<h3>Foros</h3>
					<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="images/logo.png">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          Elliot Fu
        </a> added you as a friend
        <div class="date">
          1 Hour Ago
        </div>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="images/logo.png">
    </div>
    <div class="content">
      <div class="summary">
        <a>Helen Troy</a> added <a>2 new illustrations</a>
        <div class="date">
          4 days ago
        </div>
      </div>
      <div class="extra images">
        <a><img src="images/image.png"></a>
        <a><img src="images/image.png"></a>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 1 Like
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="images/logo.png">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          Jenny Hess
        </a> added you as a friend
        <div class="date">
          2 Days Ago
        </div>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 8 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="images/logo.png">
    </div>
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 5 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="images/logo.png">
    </div>
    <div class="content">
      <div class="summary">
        <a>Justen Kitsune</a> added <a>2 new photos</a> of you
        <div class="date">
          4 days ago
        </div>
      </div>
      <div class="extra images">
        <a><img src="images/image.png"></a>
        <a><img src="images/image.png"></a>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 41 Likes
        </a>
      </div>
    </div>
  </div>
</div>
				</div>
			</div>
			<div class="five wide column">
					<div class="ui blue fluid card">
  					<div class="content">
    					<div class="header">Últimos eventos</div>
  					</div>
  					<div class="content">
    					<h4 class="ui sub header">Activity</h4>
    					<div class="ui small feed">
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
          							</div>
        						</div>
      						</div>
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Stevie Feliciano</a> was added as an <a>Administrator</a>
          							</div>
        						</div>
      						</div>
      						<div class="event">
        						<div class="content">
          							<div class="summary">
             							<a>Helen Troy</a> added two pictures
          							</div>
        						</div>
      						</div>
    					</div>
  					</div>
  					<div class="extra content">
    					<button class="ui button">Ver todas</button>
  					</div>
				</div>
			</div>
		</div>
	</main> -->
<% include partials/footer %>
