{{> header}}
    <form class="loginbox" action="">
        <input type="text" placeholder="Email"><br>
        <input type="text" placeholder="Clave"><br>
        <input type="button" value="Entrar">
    </form>
    <p><a href="./register">Primera vez? Registrate aqui!</a></p>
    {{{title}}}
    <p>should appear here</p>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{else}}   
            <p class="empty">No content</p>
        {{/each}}
    </ul>
{{> footer}}