
<h1>Movimiento Libertario de Venezuela</h1>
<form class="loginbox" action="">
    <input type="text" placeholder="Email"><br>
    <input type="text" placeholder="Clave"><br>
    <input type="button" value="Entrar">
</form>
