<% include partials/header %>
<h2>Formulario de Afiliación</h2>

<p>Llenar este formulario te llevará poco minutos y nos permitirá conocerte un poco. Al finalizar, un miembro se encargará de hacerte una pequeña entrevista y posteriormente pasará a formalizar tu ingreso.</p>
<form class="loginbox" action="">
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Apellido"><br>
    <input type="email" placeholder="Email">
    <input type="text" placeholder="Estado"><br>
    <input type="number" placeholder="Ano de nacimiento">
    <input type="text" placeholder="Profesion/Oficio/Ocupación"><br>
    <input type="text" placeholder="Telefono de contacto">
    <input type="url" placeholder="Facebook/Twitter (Link)"><br>
    <input type="text" placeholder="Otra red social (Link)">
    <input type="text" placeholder="Cedula de Identidad"><br>
    <select>
        <option value="" selected disabled hidden>Elige tu Idiologia</option>
        <option value="Liberal">Liberal</option>
        <option value="Minarquista">Minarquista</option>
        <option value="Ancap">Anarco-capitalista</option>
        <option value="Otro">Otro</option>
    </select>
    <input type="text" placeholder="Has participado en otras organizaciones?"><br>
    <input type="submit" value="Registrarse">
</form>

<% include partials/footer %>