{{> header}}
    <form action="registerbox">
        <input type="text" placeholder="Nombre Completo"><br>
        <input type="text" placeholder="Estado / Pais de residencia"><br>
        <input type="text" placeholder="Email"><br>
        <input type="button" value="Registrarse">
    </form>
    <p><a href="./">Regresar al inicio de sesion.</a></p>
    {{{title}}}
{{> footer}}